<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width = device-width, initial-scale = 1"/>
    <title>Trang chủ</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<div class="header">
    <div class="columnHeader">
        <img src="/images/LogoDHTBank.jpg" alt="DHT Bank - Sustainable value"/>
    </div>
    <div class="columnHeader">
        <h1 style="color: gold">Ngân hàng Bưu chính Viễn thông DHT</h1>
    </div>
    <div class="columnHeader">
        <div>
            <h3 style="color: orange">Hỗ trợ trong nước: 0862 868 355 </h3>
        </div>
        <div>
            <h3 style="color: orange">Hỗ trợ quốc tế: +84 862 868 355</h3>
        </div>
    </div>
</div>
<div class="content">
    <div class="column">
        <h2>Topic 1</h2>
    </div>
    <div class="column">
        <h2>Topic 2</h2>
    </div>
</div>
<div class="footer">
    <div>
        <h2 style="text-align: center">Thông tin thành viên</h2>
    </div>
    <div>
        <div class="columnFooter">
            <div>
                <p>Nguyễn Văn Định</p>
            </div>
            <div>
                <p>B16DCCN074</p>
            </div>
            <div>
                <p>Dinhcuuhd@gmail.com</p>
            </div>
        </div>
        <div class="columnFooter">
            <div>
                <p>Nguyễn Văn Hạnh</p>
            </div>
            <div>
                <p>B16DCCN074</p>
            </div>
            <div>
                <p>Dinhcuuhd@gmail.com</p>
            </div>
        </div>
        <div class="columnFooter">
            <div>
                <p>Nguyễn Văn Thắng</p>
            </div>
            <div>
                <p>B16DCCN074</p>
            </div>
            <div>
                <p>Dinhcuuhd@gmail.com</p>
            </div>
        </div>
        <div class="columnFooter">
            <div>
                <p>Nguyễn Văn Định</p>
            </div>
            <div>
                <p>Nguyễn Văn Định</p>
            </div>
            <div>
                <p>Nguyễn Văn Định</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>